* {
    margin: 0;
    box-sizing: border-box;
    backface-visibility: hidden;
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

body {
    font-family: 'ProximaNova', sans-serif;
    color: #000;
    font-size: 15px;
    padding-right: 0!important; /* against bootstrap modals */
    height: 100%;
    background-color: #fafafa;
}

img {
    width: 100%;
}

button {
    border: none;
    outline: none;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

strong {
    font-weight: bold;
}

a {
    color: inherit !important;
    text-decoration: none;

    &:hover, &:focus {
        text-decoration: none;
    }
}

.modal-dialog {
    margin: 0;
    height: 100%;
    max-width: 100%;
    pointer-events: all;
}
.modal-content {
    height: 100%;
    border: 0;
}

.rating-container .rating {
    outline: none;
}
.rating-container .star-container {
    cursor: pointer;

    .star {
        width: 18px;
        height: 18px;

        svg {
            fill: #0090FF !important;
        }
    }
}
.rating-container.voted-already .rating {
    pointer-events: none;
}
