.contact-us-modal {
    padding-right: 0!important;
    width: 100%;
    height: 100%;
    font-weight: 200;

    input {
        font-weight: 200;
    }
    textarea {
        font-weight: 200;
    }
    strong {
        font-weight: 600;
    }

    .modal-dialog {
        width: 100%;
        height: 100%;
        max-width: 100%;
        margin: 0;
        background-color: #edf3f8;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .title {
        font-family: Montserrat-Regular, sans-serif;
        font-size: 45px;
        line-height: 70px;
        letter-spacing: 2px;
        font-weight: bold;
        color: #000;
        text-align: center;
        margin-bottom: 30px;
    }

    .container {
        width: 850px;
        display: flex;
        justify-content: space-between;
        display: -webkit-flex;
        -webkit-justify-content: space-between;
    }

    .column {
        width: 48%;
    }

    .contact-input {
        display: block;
        width: 90%;
        margin: 0 auto 25px;
        padding: 6px 12px;
        font-size: 19px;
        height: 55px;
        border-radius: 5px;
        border: 1px solid transparent;
        color: #404040;
        outline: none;
        transform: translateY(0);
        transition: 0.3s;
        box-shadow: 0 1px 1px rgba(0,0,0,.1);

        &.text-area {
            height: 160px;
            resize: none;
            padding: 12px;
        }
        &:focus {
            box-shadow: 0 15px 25px rgba(0,0,0,.15);
            transform: translateY(-2px);
            transition: 0.3s;
        }
    }

    .contact-submit {
        display: block;
        width: 90%;
        height: 55px;
        margin: 0 auto;
        border-radius: 5px;
        background-color: #1b90ff;
        font-size: 19px;
        color: #fff;
        font-weight: 600;
        letter-spacing: 1px;
        transform: translateY(0);
        transition: 0.3s;
        box-shadow: 0 1px 1px rgba(0,0,0,.1);
        outline: none;
        cursor: pointer;

        &:hover {
            box-shadow: 0 15px 25px rgba(0,0,0,.15);
            transform: translateY(-2px);
            transition: 0.3s;
            background-color: #33c0ff;
        }
        &:focus {
            transform: translateY(0);
            transition: 0s;
            box-shadow: 0 1px 1px rgba(0,0,0,.1);
            background-color: #1b90ff;
        }
    }

    .details {
        display: flex;
        flex-direction: column;

        .entry {
            color: #000;
            font-size: 20px;
            margin-bottom: 20px;

            &:before {
                display: inline-block;
                content: " ";
                width: 28px;
                height: 28px;
                margin-right: 5px;
                vertical-align: top;
                background-image: url("/assets/images/icons/circle-point.svg");
                background-position: center center;
                background-repeat: no-repeat;
            }

            .dribbble-link {
                background-image: url("/assets/images/icons/new_heading_logos.png");
                display: inline-block;
                width: 94px;
                height: 25px;
                background-position: 0 -350px;
                margin-left: 8px;
                vertical-align: bottom;
            }
            .fa-star {
                color: #e8c300;

                &.first {
                    margin-left: 8px;
                }
            }
        }
    }

    .badges {
        margin-top: auto;
        display: flex;
        justify-content: space-between;
    }

    .achievement-img {
        width: initial;
        height: 80px;
    }

    .close-modal {
        position: absolute;
        top: 10%;
        right: 10%;
        font-size: 26px;
        color: #1D87E4;
        cursor: pointer;
    }
}

.particles-container {
    width: 99%;
    height: 99%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.modal-content-container {
    transition: opacity 0.4s ease-in-out;
}
.thanks-container {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -10;
    display: flex;
    align-items: center;
    justify-content: center;
}
.thanks-container .thanks-text {
    max-width: 600px;
    text-align: center;
    font-size: 183%;
    display: block;
}
.show-message {
    opacity: 1;
}

.hidden {
    display: none;
}
.sk-cube-grid {
    display: none;
}
.show-cube {
    display: block;
}
.loader-circle {
    background-color: #edf3f8;
}

.error {
    border-color: red !important;
}

:host {
    width: 100%;
    height: 100%;
}
