<div class="contact-us-modal"
     id="contact-us-modal" role="dialog" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content-container" [class.hidden]="currentStage !== STAGES.FORM">
            <div class="title">TELL US MORE ABOUT PROJECT</div>
            <div class="container">
                <div class="column">
                    <form [formGroup]="requestForm">
                        <input [formControl]="requestForm.controls['name']"
                            type="text" name="name"
                            id="name" placeholder="Your name"
                            class="contact-input" required
                            [class.error]="requestForm.controls['name'].touched && requestForm.controls['name'].invalid">
                        <input [formControl]="requestForm.controls['email']"
                            type="text" name="email"
                            id="email" placeholder="Your email"
                            class="contact-input" required
                            [class.error]="requestForm.controls['email'].touched && requestForm.controls['email'].invalid">
                        <textarea [formControl]="requestForm.controls['projectDetails']"
                            placeholder="Tell us more about your project"
                            class="contact-input text-area"
                            rows="4" name="message" id="message" required
                            [class.error]="requestForm.controls['projectDetails'].touched && requestForm.controls['projectDetails'].invalid"
                        ></textarea>
                    </form>
                    <button type="button" class="contact-submit" id="contact-submit" (click)="submitForm()">
                        SEND MESSAGE
                    </button>
                </div>

                <div class="column details">
                    <div class="entry">
                        <strong>Free Business Analysis</strong> & Consulting
                    </div>
                    <div class="entry">
                        <strong>We sign NDA!</strong> 100% Confidentiality
                    </div>
                    <div class="entry">
                        You have the project <strong>started in 2 days</strong>
                    </div>
                    <div class="entry">
                        Free Dedicated <strong>Project Management</strong>
                    </div>
                    <div class="entry">
                        Our design is worth trying
                        <a class="dribbble-link" href="https://dribbble.com/cleveroad" target="_blank"></a>
                    </div>
                    <div class="entry">
                        Proved Client Reviews
                        <i class="fa fa-star first" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <div class="badges">
                        <a href="https://clutch.co/profile/cleveroad" target="_blank">
                            <img class="achievement-img" src="/assets/images/clutch-app.png">
                        </a>
                        <a href="https://clutch.co/profile/cleveroad" target="_blank">
                            <img class="achievement-img" src="/assets/images/clutch-web.png">
                        </a>
                        <a href="https://www.goodfirms.co/companies/view/198/cleveroad" target="_blank">
                            <img class="achievement-img" src="/assets/images/goodfirms.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="modal-particles" class="particles-container"></div>

        <div [class.hidden]="currentStage !== STAGES.LOADING" class="vertical-centered-box sk-cube-grid">
            <div class="content">
                <div class="loader-circle"></div>
                <div class="loader-line-mask">
                    <div class="loader-line"></div>
                </div>
                <img class="logo-icon" src="/assets/images/icons/logo_svg.svg" alt="logo">
            </div>
        </div>

        <!--<div [ngClass]="{'show-message': isMessageShow}" class="thanks-container">-->
            <!--<span class="thanks-text">Thank you! Your request is being processed. Check inbox to get useful clients guide.</span>-->
        <!--</div>-->

        <div class="close-modal">
            <i class="fa fa-close" (click)="bsModalRef.hide()"></i>
        </div>
    </div>
</div>
