<div class="loading-container" [class.visible]="isVisible">
    <div id="loading-particles" class="particles"></div>
    <div class="load-wrap">
        <div class="load-content">
            <div class="loader-circle"></div>
            <div class="loader-line-mask">
                <div class="loader-line"></div>
            </div>
            <img class="logo-icon" src="/assets/images/icons/logo_svg.svg" alt="logo">
        </div>

        <div class="load-title">
            {{ loadingText }}
        </div>
    </div>
</div>
