.main-container {
    max-width: 1158px;
    min-height: 552px;
    margin: 15px auto 20px;
    border: 1px solid #ebebeb;
    box-shadow: 0 2px 5px 0 #0000000d;
    border-radius: 6px;
    font-size: 14px;
    background-color: #fff;
}
